body{
    background-image: url(imagens/backgroundbody.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Montserrat;
}

.logobody{
    background-image: url(imagens/logobody.png);
    background-repeat: no-repeat;
    width: 213px;
    height: 36px;
    margin: 30px auto;
}

.block-login{
    width: 320px;
    padding: 20px;
    background: #d0cfcf;
    border-radius: 5px;
    border-top: 5px solid #294d37;
    margin: 0 auto;
}

.card-8 { 
    box-shadow: rgba(0, 171, 85, 0.24) 0px 8px 16px 10px; 
    margin: 0 auto;
    width: 360px;
}


.block-login  h1{
    text-align: center;
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.block-login input{
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #a2a2a2;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.block-login input#username{
    background-image: url(imagens/iconuser.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 20px top;
    background-size:18px 80px;
}

.block-login input#username:focus{
    background-image: url(imagens/iconuser.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom 20px;
    background-size:18px 80px;
}

.block-login input#password{
    background-image: url(imagens/iconpassword.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 20px top;
    background-size: 18px 80px;
}

.block-login input#password:focus{
    background-image: url(imagens/iconpassword.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: bottom 20px;
    background-size: 18px 80px;
}

.block-login input:active, .block-login input:focus{
    border: 2px solid #294d37;
}

.block-login button{
    width: 100%;
    height: 40px;
    background: #294d37;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #294d37;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.block-login button:hover {
    background: #3d7553;
}